
  .nav-menu {
    background-color: #ffc107;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    top: 0;
    padding: 0px;
  }
  
  
  .nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
  }
  
  .nav-text a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 4px;
  }
  
  .nav-text a:hover {
    border: 2px solid black;
  }
  
  .nav-text a.active {
    background-color: black;
    color:#ffc107;
  }

  .nav-menu-items {
    width: 100%;
    padding-left: 0;
  }
  
  .navbar-toggle {
    background-color: #ffc107;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  span {
    margin-left: 16px;
  }

  .sidebar-footer{
    position: fixed;
    color: black ;
    bottom: 10px;
    font-size: larger;
  }

  .sidebar-footer img {
    margin-left: 7px;
    width: 2.7rem;
    border-radius: 50%;
  }

  .sidebar-footer .signOut {
    margin-left: 25px;
    padding: 10px;
    padding-right: 7px;
    border-radius: 10%;
  }

  .sidebar-footer .signOut:hover{
   border: 2px solid white;
  }

  .sidebar-footer .profileName {
    font-weight: 500;
    margin: 10px 0px 0px 27px;
  }
  
  
  .sidebar-footer i {
    font-size: 25px;
  }